@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* import font */
body{
    max-width: 100px;
}
.section-01{
    margin-top: 0%;
}
.whatwedoB{
display: block;
}
.resultper{
    display: block;
}