@import url('/font-awesome-4.6.3/css/font-awesome.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
:root{
    --footer-color: rgb(7,22,41);
    --pink-color:rgb(255, 101, 101);
    --whitecolor:rgb(255, 255, 255);
}
*{
    padding: auto;
    margin: auto;
}
body{
    background-image: url("/headphones/images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
}
header{
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 15em;
}
.icon > img{
    max-width: 180px;
    max-height: 180px;
}
nav, ul, li{
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    
}

/* section_01 starts here */
.section_01{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 20em;
    max-width: 50%;
    color: var(--whitecolor);
}
.section-title > h2{
    font-size: 32px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}
.section-title > p{
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.callbutton > button{
    background-color: var(--pink-color);
    border: none;
    border-radius: 50px;
    color: var(--whitecolor);
    font-weight: bolder;
    padding: 1em;
    font-size: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 3.5em;
}
.sectionbuttom{
    margin-top: 10%;
}
.sectionbuttom > p{
    line-height: 1.5em;
    word-spacing: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Section_02 Start here ...*/

.section_02{
    margin-top: 10%;
    display: block;
    justify-content: center;
    align-items: center;
}
.whatwedoH{
    display: block;
    max-width: 50%;
    align-items:center ;
    justify-content: center;
}
.whatwedoH > h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatwedoB{
    display: flex;
    max-width: inherit;
    max-width: 80%;
    gap: 2em;
}
.layer1{
    
}

/* this is where section_03 starts */

.section_03{
    margin-top: 15%;
    background-image: url("/headphones/images/headphones_hero_2.jpg");
    background-repeat: no-repeat;
    color: var(--whitecolor);
}
.resultop{
    max-width: 60%;
    align-items: center;
    justify-content: center;
}
.resultop > h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultper{
    display: flex;
    max-width: 80%;
}
.pentagone{
    max-width: inherit;
    margin-top: 20%;
}
.resultper > .pentagone > img{
    max-width: 190px;
    max-height: 190px;

}
.resultper>.pentagone > div{
    margin-top: -7.5em;
    line-height: 3em;
}
.pentagone>div>h1,p{
    align-items: center;
    justify-content: center;
    display: flex;
}
.pentagone>div>h1{
    font-size: 46px;
    font-weight: bold;
}

/* Section_04 starts here .. */

form {
    max-width: 420px;
    margin: 50px auto;
}

.feedback-input {
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #8f8d8d4b;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    width: 50%;
    background:var(--pink-color);
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

/* footer starts here ... */

footer{
    background-color: var(--footer-color);
}
.footer-icon >.socialmedia{
    background-color: antiquewhite;

}