*{
    margin: auto;
    padding: auto;
}
body{
    background-image: url(Object.png);
    background-repeat: no-repeat;
    padding: auto;
    font-family: Source Sans Pro;
}
header{
    padding:auto;
    margin-top: 2em;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    }
        
    nav,ul {
    display: flex;
    list-style: none;
    margin-right: 0%;
            }
        
    nav,ul,li {
    margin-right: 20px;
        }
        
     nav,ul,li, a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family:source sans pro;
    font-weight:500;
    margin-right: 2em;
        }
    nav, img{
        margin-left: 6%;
    }
    .section1 > .main-bottom > .alumni{
        padding: 3%;
        margin-top: 2em;
        max-width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .schooled{
        display: block;
        color: white;
        margin-top: 13%;
        justify-content: center;
        align-items: center;
        margin-left: 8%;
        font-family: Source Sans Pro;
    }
    .schooled > button{
        display: block;
    }
    .main-bottom{
        margin-top: 12%;
    }
  .schooled > h1{
    font-size: 6.5em;
    margin-left:;
    width: 55%;
    letter-spacing: 0.05em;
    font-weight:800;
  }
  .schooled >.spn{
    text-align: center;
    word-spacing: 3em;

  }
  .schooled > button{
    margin-top: 3em;
    background-color: rgb(195, 113, 255);
    padding: 1.2em;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    font-size: 0.7em;
  }
  div > h2{
    text-align: center;
    color: white;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    display: flex;
  }
div > h2 > span{
    color:rgb(195, 113, 255) ;
    font-weight: bold;
}   
.alumni{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    margin-top: 1%;
    padding: auto;
    color: white;
}
.alumni > div{
    max-width: 20%;
}
.alumni > div > p, h3{
    justify-content: center;
    align-items: center;
    display: flex;

}
.alumni>div>p{
    font-weight: lighter;
    font-style: oblique;
}
.alumni > div > img{
    max-width: 120px;
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

                         /*This is where section II starts*/
.section2{
    background-color: rgb(195, 113, 255);
    width: 100%;
    margin-top: -37.5px;
    display: flex;
    height: 20em;
}
.weather > img{
    margin-left: 10em;
}
.person{
    margin-left: -5em;
    color: white;
}
.person> blockquote,h3,p {
    display:block;
    word-spacing: 2px;
}
.person > blockquote{
    font-size: 22px;
    font-weight: 300;
    word-spacing: inherit;
}
.person > h3{
    margin-top: 1.5em;
    font-weight: 700;
    font-size: 22.5px;
}
.person > p{
    margin-top: 0.5em;
    font-style: oblique;
    font-weight: 300;
    font-size: 22.5px;
}


                         /*This is where section III starts*/
.section3 {
    margin-top: -2em;
    display: block;
    padding: auto;
}
.play{
    display: flex;
    padding: 5%;
    margin-top: -2em;
    max-width: 75%;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
}
.play > div > img[src="play.png"]{
    display: flex;
    margin-top:-7em;
    margin-left: 6em;
}
.profile{
    margin-top: 0.5em;
    display: flex;
    color: rgb(195, 113, 255);
}
.profile > img{
    max-width: 30px;
}
.profile > h4{
    margin-left: -10em;
    font-size: 12px;
}
.icon{
    display:inline-flex;
    margin-top: 0.4em;
    margin-left: 0.5em;
}
.icon > div{
    margin-left: 5px;
}
.play > div > h3 ,p{
    line-height: 1.5em;
}
.play > div > p{
    font-weight: 300;
}
.section3 > h2{
    font-size:2em;
    align-items: center;
    margin-left:40%;
    margin-top: 5%;
    font-weight: 350;

}

                         /*This is where section VI starts*/
.section4{
display: inline-block;
background-color: rgb(7, 22, 41);
width: 100%;
height:30em;
content: inherit;
color: white;
}  
.section4 > .membership, h2, button{
    padding: 2%;
    margin-inline: auto;
    max-width: fit-content;
    margin-top: 2em;
}
.membership{
    display: flex;
    margin-top: -4em;
    gap: 6em;
    justify-content: center;
    align-items: center;
}
.membership >div>img{
    margin-left: 3em;
}
.membership >div>h3{
    margin-left: 1em;
    margin-top: 1em;
}
.section4> h2{
    font-weight: 2;
}
.section4 > .membership > div > h3, p {
line-height: 2em;
}
.section4 > button{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3em;
    background-color: rgb(195, 113, 255);
    padding: 1.2em;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    font-size: 0.7em;
}



                         /*This is where section V starts*/
.section5{
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: -8%;
}
.section5 >h2{
    font-size: 60px;
    font-weight: 300;
}
.grid-container{
    display:flex ;
    padding: 5em;
    gap: 15em;
    margin-top: -3em;
    max-width: 80%;
}
.grid-child > div {
    margin-top: 1.5em;
    font-weight: 300;
}


                         /*This is where section VI starts*/

.section6{
    display: block;
    background-color: rgb(7, 22, 41);
    max-width: 100%;
    height: 13em;

}

.footer-icon{
    display: flex;
    padding: 4em;
    margin-left: 5%;
}
.section6 > p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: rgba(179, 179, 179, 0.384);
}
.section6 > .footer-icon > .social-media-icons > i{
    border-radius: 50px;
    background-color: white;
    font-size: large;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-left: 1em;
}